Sidebar {
    width: 22;
    layer: sidebar;
    height: 100%;
    dock: left;
    background: $boost;
    border-right: vkey $background;
    offset-x: 0;
    transition: offset 200ms in_out_cubic;
    & > Vertical {
        margin: 1 2;
    }
}


Sidebar.-hidden{
    offset-x: -100%;
    transition: offset 200ms in_out_cubic;
}

Screen {
    layers: sidebar;
    layout: vertical;
}

.box {
    height: 1fr;
    border: white;
    background: grey;
}

